In [1]:
3+2

5

In [2]:
3-2

1

In [3]:
3*2

6

In [6]:
#Division
3/2

1.5

In [7]:
# Modulo
3%2

1

In [8]:
# Potencia
3**2

9

In [9]:
3-2+4*10

41

In [10]:
# Asignacion de un valor a una variable 
n = 3 
n

3

In [11]:
n+3

6

In [12]:
n*n

9

In [13]:
m=10

In [14]:
n+m

13

In [15]:
n*m+10

40

In [16]:
n=10
m=15

In [17]:
m+n

25

In [18]:
n=m

In [19]:
n

15

In [20]:
m

15

In [23]:
nota_1 = 7.5
nota_2 = 5
nota_media = (nota_1 + nota_2) / 2
nota_media

6.25

In [25]:
nota_1 = 10
nota_2 = 6
nota_final = nota_1*0.4 + nota_2*0.6
print (nota_final)

7.6

In [1]:
a= 'hola mundo'

In [2]:
print(a*2)

hola mundohola mundo

In [3]:
numero_1 = 9
numero_2 = 3
numero_3 = 6

In [4]:
media = (numero_1 + numero_2 + numero_3)/3

In [6]:
print('la nota media es:',media)

la nota media es: 6.0

In [7]:
numero_1 = 10
numero_2 = 7
numero_3 = 4

In [8]:
nota = numero_1*0.15 + numero_2*0.35 + numero_3*0.50
print(nota)

5.949999999999999

In [9]:
print(int(nota))

5

In [10]:
matriz = [ 
    [1, 1, 1, 3],
    [2, 2, 2, 7],
    [3, 3, 3, 9],
    [4, 4, 4, 13]
]

In [11]:
print(matriz)

[[1, 1, 1, 3], [2, 2, 2, 7], [3, 3, 3, 9], [4, 4, 4, 13]]

In [12]:
sum(matriz)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [13]:
matriz

[[1, 1, 1, 3], [2, 2, 2, 7], [3, 3, 3, 9], [4, 4, 4, 13]]

In [14]:
print(sum(matriz))

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [15]:
matriz

[[1, 1, 1, 3], [2, 2, 2, 7], [3, 3, 3, 9], [4, 4, 4, 13]]

In [16]:
matriz [0]

[1, 1, 1, 3]

In [18]:
matriz [0][3]

3

In [21]:
sum(matriz[0][0:3])

3

In [22]:
sum(matriz[1][:3])

6

In [23]:
matriz[1][3] = sum(matriz[1][:3])

In [24]:
matriz

[[1, 1, 1, 3], [2, 2, 2, 6], [3, 3, 3, 9], [4, 4, 4, 13]]

In [28]:
matriz[2][3] = sum(matriz[2][:3])

In [29]:
matriz[3][3] = sum(matriz[3][:3])

In [30]:
matriz

[[1, 1, 1, 3], [2, 2, 2, 6], [3, 3, 3, 9], [4, 4, 4, 12]]

In [31]:
cadena = "zeréP nauJ,01"

In [32]:
cadena = cadena [::-1]

In [33]:
cadena

'10,Juan Pérez'

In [34]:
cadena[0]

'1'

In [35]:
cadena [1:2]

'0'

In [36]:
len(cadena)

13

In [37]:
nombre = cadena[3:-6]

In [38]:
nombre

'Juan'

In [43]:
apellido = cadena[-5:]

In [44]:
apellido

'Pérez'

In [46]:
nota = cadena[:2]

In [47]:
nota

'10'

In [50]:
print(nombre+ ' '+ apellido+ ' ha sacado un '+ nota +' de nota')

Juan Pérez ha sacado un 10 de nota

In [4]:
a=[10,20,30,40,50] 
b=[5,10,15,20,25]
c=sum(a,b)
print(c)

TypeError: can only concatenate list (not "int") to list

In [7]:
lst = [1, 2, 34, 5, 3, 12, 9, 8, 67, 89, 98, 90, 39, 21, 45, 46, 23, 13]
lst.append(100,110)

TypeError: list.append() takes exactly one argument (2 given)

In [6]:
lst

[1, 2, 34, 5, 3, 12, 9, 8, 67, 89, 98, 90, 39, 21, 45, 46, 23, 13, 100]

In [10]:
lst.sort()
print(lst)

[1, 2, 3, 5, 8, 9, 12, 13, 21, 23, 34, 39, 45, 46, 67, 89, 90, 98]

In [14]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2}

In [16]:
type(word_freq)

dict

In [17]:
len(word_freq)

23

In [33]:
'begin' in word_freq.keys()

False

In [23]:
word_freq['friends'],word_freq['taxi'],word_freq['jukebox']

(1, 1, 1)

In [31]:
word_freq[love]=='love'

NameError: name 'love' is not defined

In [39]:
print(word_freq)

{'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17}

In [38]:
word_freq['begin']=1
word_freq['start']=2
word_freq['over']=1
word_freq['body']=17

In [43]:
word=list(word_freq.keys())

In [42]:
print(word)

['love', 'conversation', 'every', "we're", 'plate', 'sour', 'jukebox', 'now', 'taxi', 'fast', 'bag', 'man', 'push', 'baby', 'going', 'you', "don't", 'one', 'mind', 'backseat', 'friends', 'then', 'know', 'begin', 'start', 'over', 'body']

In [44]:
word[0]

'love'

In [46]:
word.count('love')

1