In [2]:
numeros=[1,2,3,4,5,6,7,8,9,10]
indice=0
while(indice<len(numeros)):
    print(numeros[indice])
    indice+=1

1
2
3
4
5
6
7
8
9
10

In [3]:
for numero in numeros:
    print(numero)

1
2
3
4
5
6
7
8
9
10

In [4]:
indice=0
for numero in numeros:
    numeros[indice]*=10
    indice +=1
numeros

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [5]:
numeros=[1,2,3,4,5,6,7,8,9,10]

In [6]:
cadena='Hola Amigos'
for i in cadena:
    print(i)

H
o
l
a

A
m
i
g
o
s

In [11]:
cadena2=''
for i in cadena:
    cadena2 += cadena*2
cadena2

'Hola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola AmigosHola Amigos'

In [12]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
range(10)

range(0, 10)

In [17]:
a=list(range(30))

In [16]:
print(list)

<class 'list'>

In [18]:
a

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [37]:
sumatorio=0
for n in range(n+1):
    if n%5!=0 and n%7!=0:
        sumatorio +=n
    print(sumatorio)

0
1
3
6
10
10
16
16

In [38]:
elementos=['agua',4,'fuego',[1,2,3,]]

In [41]:
for i,e in enumerate(elementos):
    print(i,e)

0 agua
1 4
2 fuego
3 [1, 2, 3]

In [43]:
list(enumerate(elementos))

[(0, 'agua'), (1, 4), (2, 'fuego'), (3, [1, 2, 3])]

In [48]:
for i,v in enumerate(elementos):
    print(i,v)

0 agua
1 4
2 fuego
3 [1, 2, 3]

In [53]:
a=["Hola", "Mundo"]

In [57]:
a=["Hola", "Mundo"]
for i, c in enumerate(a):
    a[i]=a[i][0]
    print(a)

['H', 'Mundo']
['H', 'M']